.imgs-outer-wrapper {
  #pixabay-link {
    padding: 0px 3px 0px 5px;
    #img-pixabay-logo {
      margin-top: 5px;
      width: 80px;
      height: 13px;
      // border: 2px solid green;
      cursor: pointer;
    }
  }
  .images-w {
    display: flex;
    overflow: auto;
    overscroll-behavior: contain;
    width: 93%;
    margin: 5px auto 0 10px;
    height: 350px;
    min-width: 200px;
    .images-loading {
      align-self: center;
      margin: 0 auto;
      animation-name: imagesLoading;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
    @keyframes imagesLoading {
      0% {
        font-size: 20px;
      }
      100% {
        font-size: 40px;
      }
    }
    .no-images-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      .no-images {
        font-family: 'Courier New', Courier, monospace;
      }
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
    img {
      width: 390px;
      padding: 3px;
    }
  }
  .images-w::-webkit-scrollbar {
    height: 13px;
  }
  .images-w::-webkit-scrollbar-thumb {
    background: rgba(104, 104, 104, 0.322);
    border-radius: 20px;
  }
  @media screen and (max-width: 600px) {
    #pixabay-link {
      padding: 0px 3px 0px 5px;
      #img-pixabay-logo {
        margin-top: 5px;
        width: 55px;
        height: 10px;
        cursor: pointer;
      }
    }
    .images-w {
      margin: 0 auto;
      width: 95%;
      height: 200px;
      img {
        width: 220px;
      }
    }
  }
}
