.paginate-w {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 93%;
  margin: 20px auto 0 15px;

  span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 5px 15px;
    margin: 1px;
    cursor: pointer;
  }
  span:hover {
    background: black;
    color: white;
  }
  .clicked {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
  }
}
