.paginate-w{
    display: flex;
    // justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 3px solid rgb(120, 0, 120);
    width: 93%;
margin: 20px auto 0 15px;
    // border: 3px solid blue;
    
    span{
        // border: 1px solid rgb(0, 0, 170);
        font-family: 'Courier New', Courier, monospace;
        // font-weight: 500;
        font-size: 15px;
        padding: 5px 15px;
        margin: 1px;
        cursor: pointer;
    }
    span:hover{
        background: black;
        color: white;
    }
    .clicked{
        background: rgb(0, 0, 0);
        color: white;
        font-size: 25px;

    }
}