@import url(../../meaning//stylesheets/Meaning.scss);

header, main{
    min-width: 500px;
    max-width: 1920px;
    margin: 0 auto;

}

header {
    border-bottom: 2px solid gray;
  nav {
    // border: 2px solid gray;
    padding: 15px;
    .word{
        transition: background 2s, position 2s 5s;
        display: flex ;
        flex-direction: column;
        width: calc(90%);
        margin: 0 auto;
        label {
            font-size: 40px;
        }
        input{
            font-size: 35px;
            padding: 10px;
            border-radius: 20px;
        }
       
    }
      .word.fix{
        position: fixed;
        top: 0;
        // background: rgba(0, 0, 0, 0.274);
        label{
            display: none;
        }
    }
  }
}

main {
    .w{
        width: calc(90%);
        margin: 0 auto;
       
    }
}
  