@import url(../../meaning//stylesheets/Meaning.scss);


 *::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }
  *::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
  }

header, main{
    min-width: 500px;
    max-width: 1920px;
    margin: 0 auto;

}

header {
    border-bottom: 2px solid gray;
  nav {
    // border: 2px solid gray;
    padding: 15px;
    .word{
        transition: background 1s, position 2s 5s;
        display: flex ;
        flex-direction: column;
        width: calc(93% - 45px);
        margin: 0 auto;
        label {
            font-size: 40px;
        }
        input{
            font-size: 35px;
            padding: 10px;
            border-radius: 20px;
        }
       
    }
      .word.fix{
        position: fixed;
        top: 0px;
        padding: 5px 25px 5px 25px ;
        background: rgb(255, 255, 255);
        // border-top: 50px solid rgba(0, 0, 0, 0.699);
        // border-bottom: 2px solid gray;
        // width: 95%;
        label{
            display: none;
        }
    }
  }
}

main {
    .w{
        width: calc(90%);
        margin: 0 auto;
       
    }
}
  

