.meaning-wrapper {
  // display: flex;
  // flex-direction: column;
  margin: 10px 0 10px 0;
  padding: 15px 25px;
  border-radius: 50px;
  // border: 5px solid red;
  background: rgba(240, 240, 245, 1);
  margin: 10px 0 70px 0;

  .block {
    display: block;
  }
  .visual {
    font-size: 20px;
    color: rgb(0, 0, 172);
  }
  .images-w {
    display: flex;
    overflow: auto;
    overscroll-behavior: contain;
    height: 450px;
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
    img {
      width: 500px;
      // height: 200px;
    }

    
  }
  .images-w::-webkit-scrollbar{
    height: 15px;
  }
  .images-w::-webkit-scrollbar-thumb{
    background: rgb(104, 104, 104, 0.5);
    border-radius: 20px;
  }
  @media screen and (max-width: 600px) {
    .images-w{
        height: 300px;
        img{
            width: 200px;
        }

    }
    }

  .p-of-s-word {
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(126, 0, 126);
    font-size: 30px;
    font-weight: 600;
  }
  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // border: 2px solid red;
    font-size: 20px;
    color: rgb(0, 0, 0);
    span {
      font-family: 'Courier New', Courier, monospace;
      font-size: 22px;
      color: black;
      font-weight: 600;
    }
  }
  p {
    //  border: 2px solid  red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 172);
    font-size: 17px;
    letter-spacing: 1px;
    span {
      font-family: 'Courier New', Courier, monospace;
      font-size: 15px;
      color: black;
      font-weight: 600;
    }
  }
}
