header, main{
    min-width: 500px;
    max-width: 1920px;
    margin: 0 auto;

}

header {
    border-bottom: 2px solid gray;
  nav {
    // border: 2px solid gray;
    padding: 15px;
    .word{
        // border: 5px solid rgb(255, 1, 1);
        display: flex ;
        flex-direction: column;
        width: calc(90%);
        margin: 0 auto;
        label {
            font-size: 40px;
        }
        input{
            font-size: 35px;
            padding: 10px;
            border-radius: 20px;
        }
       
    }
  }
}

main {
    .w{
        width: calc(90%);
        margin: 0 auto;
        .p-of-s{
            font-size: 40px;
            padding: 0 auto 15px auto;
            border-bottom: 2px solid black;
        }
    }
    
}