.p-of-s-nav-w {
  display: flex;
  flex-direction: row;
  // padding: 0px;
  position: fixed;
  order: 5;
  bottom: 2px;
  right: 50%;
  transform: translateX(50%);
  background: rgb(0, 0, 0);
  padding: 0 0 10px 0;
  // background:transparent;
  overflow-x: auto;
  overscroll-behavior: contain;
  max-width: 350px;
//   border: 3px solid rgb(255, 0, 0);
  z-index: 111;
  // height: 50px;
  .ppp {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-transform: capitalize;
    margin: 0 10px 5px 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    // font-size: 20px;
    padding: 3px;
    cursor: pointer;
    // order: 3;
    // border: 2px solid green;
  }
  .ppp:hover {
    background: rgba(253, 253, 253);
    color: rgb(0, 0, 0);
    color: rgb(120, 0, 120);
    cursor: pointer;
  }

  .active{
     background: rgba(253, 253, 253);
    color: rgb(0, 0, 0);
    color: rgb(120, 0, 120);
  }
}
.p-of-s-nav-w::-webkit-scrollbar {
  height: 5px;
  background: transparent;
}
.p-of-s-nav-w::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(121, 121, 121);
}
// .p-of-s-nav-w:hover{
//     opacity: 1;
// }
