.m-s-block-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
//   border: 5px solid rgb(120, 0, 120);
//   .p-of-s {
//     color: rgb(255, 255, 255);
//     display: inline-block;
//     font-size: 4px;
//     width: auto;
//     padding: 2px 0 5px 0;
//     text-transform: capitalize;
//     background: rgba(46, 46, 46, 0.555);
//   }

  p {
    font-size: 22px;
  }
}


